<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.tataskyremote"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Add permission for IR transmission (for older devices) -->
    <uses-permission android:name="android.permission.TRANSMIT_IR"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity android:name=".MainActivity"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
